@font-face {
  font-family: 'Caveat';
  src: local('Caveat'), url(../fonts/Caveat-VariableFont_wght.ttf) format('truetype');
}

.NavigationButton {
  color: white;
  font-family: Caveat;
  font-size: 200%;
  background-color: black;
  border: none;
  padding: 10px;
  outline: none;
}

.NavigationButton:hover {
  color: silver;
}

.NavigationButton:active {
  outline: none;
}

.NavigationButton:focus {
  outline: none;
}
